@font-face {
  font-family: "ArchivoMedium";
  src: local("ArchivoMedium"), url("../../fonts/Archivo-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "ArchivoSemiBold";
  src: local("ArchivoSemiBold"), url("../../fonts/Archivo-SemiBold.ttf") format("truetype");
}

.popup {
  font-family: "ArchivoMedium";
  width: 400px;
  height: 600px; /* 600px is the limit on popups by Chrome */

  /* styles from container */
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  display: flex;
  align-items: center;
  width: 100vw;
  min-height: 100px;
  background: #171717;
}

.tabButtonRow {
  min-height: 52px;
  width: 100vw;
  border-top: 1px solid #5E5E5E;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: #101010;
  margin-left: -15px;
}

.tabButtonSpacer {
  display: flex;
  justify-content: center;
  background: #101010;
  width: 33%;
}

.tabButton {
  border-radius: 5px;
  width: 45px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconActive {
  filter: invert(100%) sepia(0%) saturate(7458%) hue-rotate(86deg) brightness(200%) contrast(105%);
}

.icon:hover {
  filter: invert(100%) sepia(0%) saturate(7458%) hue-rotate(86deg) brightness(200%) contrast(105%);
}

.headerIcon {
  color: #cacaca;
}
.headerIcon:hover {
  color: white;
}
.alertsButton {
  position: relative; /* for badge - ensures that the 'absolute' positioned badge stays in this container */
  padding: 8px;
}

.badge {
  background: #F44B4C;
  color: white;
  position: absolute;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  top: 0;
  right: 0;
  font-size: 13px;
  padding-left: 5px;
  border: 1px solid #101010;
}

.tabButtonActive {
  width: 45px;
  height: 36px;
  background: #282828;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.urlCheckInput {
  font-size: 14px;
  border: 1px solid rgb(255, 255, 255, 10%);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 37px;
  width: 264px;
  background: #0F0F0F;
  padding: 10px;
}

.urlCheckButton {
  font-size: 14px;
  border: 1px solid rgb(255, 255, 255, 10%);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #19FF00;
  background: #161616;
  width: 108px;
  height: 37px;
}

.urlCheckButton:disabled {
  cursor: auto;
  color: rgb(255, 255, 255, 50%);
}

.phishingResultHeader {
  font-family: "ArchivoSemiBold";
  font-size: 40px;
  text-align: center;
  margin-bottom: 0;
}

.currentURL {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.text-green {
  color: #19FF00;
}

.text-red {
  color: #FF0000;
}

.centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hover:hover {
  cursor: pointer;
}

.settingsHeader {
  font-family: "ArchivoSemiBold";
  font-size: 20px;
}

.settingsOption {
  font-family: "ArchivoMedium";
  font-size: 16px;
  margin-bottom: 0px;
}

.settingsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.iconsRow {
  display: flex;
  font-size: 24px;
  align-items: center;
}

.iconsRow > * {
  margin-right: 15px;
}

.iconsRow > *:hover {
  cursor: pointer;
}