@font-face {
  font-family: "ArchivoMedium";
  src: local("ArchivoMedium"), url("../../fonts/Archivo-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "ArchivoSemiBold";
  src: local("ArchivoSemiBold"), url("../../fonts/Archivo-SemiBold.ttf") format("truetype");
}

.popup {
  font-family: "ArchivoMedium";
  width: 400px;
  height: 600px; /* 600px is the limit on popups by Chrome */

  /* styles from container */
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  display: flex;
  align-items: center;
  width: 100vw;
  min-height: 100px;
  background: #171717;
}

.tabButton {
  font-family: "ArchivoSemiBold";
  font-size: 12px;
  color: white;
  background: #232323;
  border: 1px solid #313131;
  border-radius: 6px;
  width: 30%;
  height: 60px;
}

.tabButtonActive {
  font-family: "ArchivoSemiBold";
  font-size: 12px;
  color: black;
  background: white;
  border: 1px solid #313131;
  border-radius: 6px;
  width: 30%;
  height: 60px;
}

.urlCheckInput {
  font-size: 14px;
  border: 1px solid rgb(255, 255, 255, 10%);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 37px;
  width: 264px;
  background: #0F0F0F;
  padding: 10px;
}

.urlCheckButton {
  font-size: 14px;
  border: 1px solid rgb(255, 255, 255, 10%);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #19FF00;
  background: #161616;
  width: 108px;
  height: 37px;
}

.phishingResultHeader {
  font-family: "ArchivoSemiBold";
  font-size: 40px;
  text-align: center;
  margin-bottom: 0;
}

.currentURL {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.text-green {
  color: #19FF00;
}

.text-red {
  color: #FF0000;
}

.centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hover:hover {
  cursor: pointer;
}