.modal {
  background-color: #121212 !important;
  border: 1px solid #2f2f2f !important;
  height: 600px !important;
  top: 10%;
}

.center {
  display: flex;
  justify-content: center;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 3.5s;
  transform-origin: 70% 70%;
  animation-iteration-count: 1;
  display: inline-block;
}

.slideEffect {
  margin-top: 30px;
  transition: 0.3s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
}

.slideUpPrimary {
  position: relative;
  font-size: 50px;
  opacity: 0;
  top: 40px;
  padding-right: 15px;
  animation: slideUp ease .5s forwards .5s;
  
}

.slideUpSecondary {
  position: relative;
  margin-top: 10px;
  font-size: 28px;
  opacity: 0;
  top: 40px;
  animation: slideUp ease .5s forwards 1.2s;
}

.slideUpThird {
  position: relative;
  margin-top: 10px;
  font-size: 28px;
  opacity: 0;
  top: 40px;
  animation: slideUp ease .5s forwards 1.2s;
  animation-delay: 2s;
}

.slideUpForth {
  position: relative;
  margin-top: 10px;
  font-size: 28px;
  opacity: 0;
  top: 40px;
  animation: slideUp ease .5s forwards 1.2s;
  animation-delay: 2.7s;

}

.slideUpFifth {
  position: relative;
  margin-top: 10px;
  font-size: 28px;
  opacity: 0;
  top: 40px;
  animation: slideUp ease .5s forwards 1.2s;
  animation-delay: 3.4s;
}

.slideRightFirst {
  opacity: 0;
  animation: slideRight ease .5s forwards .5s;
  animation-delay: 0ms;
}
.slideRightSecond {
  animation: slideRight ease .5s forwards .5s;
  opacity: 0;
  animation-delay: 0.3s;
}
.slideRightThird {
  opacity: 0;
  animation: slideRight ease .5s forwards .5s;
  animation-delay: 0.6s;
}

.continue {
  opacity: 0;
  animation: fadeIn ease 2s forwards 1.2s;
  animation-delay: 1s;
}

.tutorialContainer {
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.discord {
  color: #5562EC;
}

.hover {
  cursor: pointer;
}

.moveOut {
  transform: translateX(-10%);
  opacity: 0;
  visibility: hidden;
}

.moveIn {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}

.waiting {
  opacity: 0;
  transform: translateX(10%);
  visibility: hidden;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  15% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-10deg);
  }

  40% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(-8deg);
  }

  60% {
    transform: rotate(20deg);
  }

  70% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-40px);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-40px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}