.center-all {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.bouncing-loader {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}

.bouncing-loader > div {
  width: 16px;
  height: 16px;
  margin: 3px 6px;
  border-radius: 50%;
  background-color: #a3a1a1;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-16px);
  }
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

.footer-container {
  position: fixed;
  bottom: 0;
  background-color: #232323;
  width: 100%;
  padding-bottom: 1.5rem !important;
}

.confirm-button {
  min-width: 100px;
  border-radius: .5em;
  background-color: #ffffff;
  border-color: #7e7e7e;
  color: black;
  font-weight: 500;
  width: 90%;
  padding-bottom: 12px;
  padding-top: 12px;
}

.reject-button {
  min-width: 100px;
  border-radius: .5em;
  background-color: #0e0e0e;
  border-color: white;
  font-weight: 500;
  color: white;
  width: 90%;
  padding-bottom: 12px;
  padding-top: 12px;
}

.close {
  opacity: 50%;
  top: 85px;
  right: 15px;
  opacity: 50%;
  position: absolute;
}

.close:hover {
  cursor: pointer;
  opacity: 80%;
}

.hover:hover {
  cursor: pointer;
  background-color: #212121 !important;
}

.copy:hover {
  background-color: #3E3E3E;
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@font-face {
  font-family: "ArchivoBold";
  src: local("ArchivoBold"),
   url("../../fonts/Archivo-Bold.ttf") format("truetype");
  font-weight: bold;
  }

  @font-face {
    font-family: "ArchivoMedium";
    src: local("ArchivoMedium"),
     url("../../fonts/Archivo-Medium.ttf") format("truetype");
    }

  .font-archivo-medium {
    font-family: "ArchivoMedium";
  }

  .font-archivo-bold {
    font-family: "ArchivoBold";
  }

  .links:hover {
    text-decoration: underline solid #ffffff;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .assetChangeRow {
    margin-bottom: 20px;
  }

  .assetChangeRow:last-child {
    margin-bottom: 0px;
  }

  /* Takes up the remaining space left by assetChangeRightColumn */
  .assetChangeLeftColumn {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Takes up 100% of width depending on the content, up to 40% of the row */
  .assetChangeRightColumn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 40%;
  }