@font-face {
  font-family: "ArchivoBold";
  src: local("ArchivoBold"),
    url("../../fonts/Archivo-Bold.ttf") format("truetype");
  font-weight: bold;
}

.font-archivo-bold {
  font-family: 'ArchivoBold';
}