.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    width: 183px;
    height: 46px;
    border-radius: 8px;
}

.button:hover {
    cursor: pointer;
}

.footer-container {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

