.buttonWithIcon {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 8px;
  border: 1px solid #5a5a5a;
  background-color: #0b0b0b;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.buttonWithIcon:hover {
  background: rgb(20, 20, 20);
}

.settingsIcon {
  padding-left: 0.5rem;
  color: #c4c4c4;
}

.settingsIcon:hover {
  color: white;
  cursor: pointer;
}