@font-face {
  font-family: "ArchivoBold";
  src: local("ArchivoBold"),
    url("../../../../../fonts/Archivo-Bold.ttf") format("truetype");
  font-weight: bold;
}

.buttonWithIcon {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 8px;
  border: 1px solid #5a5a5a;
  background-color: #0b0b0b;
  border-radius: 5px;
  font-family: 'ArchivoBold';
  cursor: pointer;
  color: white;
}